.cell{
  width: 28px;
  height: 28px;
  background-color: #bdbdbd;
  box-sizing: border-box;
  font-weight: bold;
  text-align:center;
  line-height: 28px;
  font-size: 20px;
}

.cell.hidden{
  border: 2px solid white;
  border-right: 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
}

.cell.mark{
  background-image: url('../../assets/mark.png');
}

.cell.mine{
  padding-top: 4px;
  font-size: 28px;
}

.cell.mark.revealed{
  background-position: 1px 1px;
}

.cell.revealed{
  border: 1px solid #7b7b7b;
  border-right: 0px;
  border-bottom: 0px;
}

.cell.false-negative{
  background-color:red;
}

.cell.false-positive{
  position:relative;
}

.cell.false-positive:before{
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 130%;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -4px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cell.false-positive:after{
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 130%;
  height: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -4px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.contig-mines-1:after{
  content: '1';
  color: blue;
}

.contig-mines-2:after{
  content: '2';
  color: green;
}

.contig-mines-3:after{
  content: '3';
  color: red;
}

.contig-mines-4:after{
  content: '4';
  color: #00007b;
}

.contig-mines-5:after{
  content: '5';
  color: #7b0000;
}

.contig-mines-6:after{
  content: '6';
  color: purple;
}

.contig-mines-7:after{
  content: '7';
  color: cyan;
}

.contig-mines-8:after{
  content: '8';
  color: black;
}
